
:root {
    --primary-color: #302AE6;
    --secondary-color: #e3e3e4;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #333a44;
    --font-color: #e1e1ff;
    --bg-color: #202224;
    --heading-color: #818cab;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    max-width: 90%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
    font-family: "Helvetica Neue";
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "header" "section" "content" "footer";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid {
    padding: 15px;
    font-size: 1rem;
}

.header { grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.section { grid-area: section;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
}

.content { grid-area: content;  }
.footer {
    grid-area: footer;
    grid-template-rows: auto;
}

.taskitem {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 1fr;

    padding: 5px;
    margin: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.due {
    display: grid;
    grid-template-columns: auto;
}

.description {
    display: grid;
    grid-template-columns: 1fr auto;

}

.priority {
    display: grid;
    grid-template-columns: 1fr auto;
}



textarea {
    outline: none;
    resize: none;
    background-color: transparent;
}



.rating-system2{
    width:auto;
    display:inline-block;
    margin:20px;
    position: relative;
}

.rating-system2 label{
    float:right;
    display:inline-block;
    width:20px;
    height:5px;
    background:#ccc;
    margin:4px;
    position: relative;
    transition:all .3s;
}

/*second*/
.rating-system2 label{
    width:10px;
    height:10px;
    border-radius:100%;
    margin:0 10px;
}

.ratings-system2 label:before{display:none;}
.rating-system2 label:hover ~ label,
.rating-system2 label:hover
{
    box-shadow: 0 0 0 2px gold,
    inset 0 0 0 5px #333;

}

.rating-system2 input:checked ~ label{
    background:gold;
    box-shadow: 0 0 0 2px gold;

}



form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: .5em;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hiddeninput{
    display:none;
}

/* Common button styles */
button {
    float: left;
    min-width: 50px;
    max-width: 250px;
    display: block;

    padding: 1em 2em;

    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

select {
    float: left;
    min-width: 50px;
    max-width: 250px;
    display: block;
    border-radius: 0px;
    padding: 1em 2em;

    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}


button:focus {
    outline: none;
}

button > span {
    vertical-align: middle;
}

.filter-button:active,
.filter-button.is-checked {
    background-color: #28F;
}

.filter-button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.filter-button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .filter-button {
    float: left;
    border-radius: 0;
    margin-left: 0;
}










